{{!--
Layout: Main
--}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main PAGE</title>
    <link rel="stylesheet" href="/assets/css/style.css">

</head>
<body>
    {{> all/nav }}

    {{#if flash}}
    <h3 style="color:red;">{{this.flash}}</h3>
    {{/if}}
    {{{body}}}
</body>
</html>