<h3>Veuillez entrez un nouveau mot de passe</h3>

<form action="/resetpassword?_method=PUT" method="post">

    <input type="text" name="password" placeholder="Password">
    <input type="text" name="confirmPassword" placeholder="Confirmez password">

    <button type="submit">Validez</button>

</form>