{{!--
Page: Home
--}}

<h1>Titre page home</h1>
{{!-- Boucle each de "db" avec un registerHelper "limit" ainsi que les data dynamique qu'on lui donne --}}
{{#if user}}
<h1>Bienvenue {{user.name}}</h1>
{{/if}}

{{#each (limit articles 5)}}
    {{!-- Partial afin d'afficher les items --}}
    {{> home/list id=this.id titre=this.title price=this.price}}
{{/each}}

{{#if user.isAdmin}}
    {{> all/form_add }}
{{/if}}
